<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title></title>
    <style>
        * {
            color: #8b2062;
            font-family: 'Open Sans', sans-serif;
        }
        body {
            background: transparent;
            background-image: url(https://mzyxhu.stripocdn.email/content/guids/CABINET_ffdd41b9f093a5654cca96a2f62ac6ee229beb35853a7b2273355a1da39a7d36/images/fon_4.png);
            background-repeat: no-repeat;
            background-position: center top;"
        }

        .wrapper {
            width: 60vw;
            margin: 0 auto;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .hello {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;
        }

        .hello__title {
            font-size: 2em;
            color: #8b2062;
        }

        .hello__img {
            width: 18%;
        }

        hr {
            border: 1px solid #8b2062;
            width: 90%;
        }

        .text {
            color: #8b2062;
            text-align: center;
            font-size: 1.3em;
        }

        .ul {
            width: 100%;
        }

        .videoTitle {
            display: flex;
            height: auto;
            flex-direction: column;
            justify-content: center;
        }

        .videoTitle__text {
            text-align: center;
            height: fit-content;
            font-size: 2.6em;
            font-weight: 600;
        }

        .actionText {
            text-align: center;
            font-size: 2em;
        }

        .actionAllStep {
            width: 100%;
            text-align: left;
            font-size: 1.3em;
            color: #8b2062;
        }

        .wrapper__video {
            margin: 0 auto;
        }

        .video__img {
            max-width: 100%;
        }

        .list {
            width: 100%;
        }
        .social {
            display: flex;
            justify-content: center;
            width: 90vw;
        }
        .social a img {
            width: 100%;
        }
        @media (max-width: 425px) {
            .hello__img {
                position: absolute;
                width: 35%;
                bottom: 1px;
                right: 1px;
                display: none;
            }
            .hello {
                justify-content: center;
            }
            .hello__title{
                text-align: center;
            }
            .list {
                width: 84vw;
            }

            .actionText {
                font-size: 1.5em;
            }

            .text {

            }

            .wrapper__video {

            }
        }
    </style>
</head>
<body>
<div class="wrapper">
    <div class="hello">
        <h2 class="hello__title">HI, {{ name }}</h2>
        <img class="hello__img"
             src="https://mzyxhu.stripocdn.email/content/guids/CABINET_ffdd41b9f093a5654cca96a2f62ac6ee229beb35853a7b2273355a1da39a7d36/images/logo_5.png"
             alt="icon">
    </div>
    <hr class="hr">
    <h3 class="text">You have received this email because you have registered on the website <a href="https://karga.belivr.tech/">&quot;Karga&quot;</a> and became a member
        of Alfa testing the game &quot;Karga&quot&quot;</h3>
    <div class="videoTitle">
        <p class="videoTitle__text">Instructions for participating in Alfa testing</p>
    </div>
    <a class="wrapper__video" target="_blank" href="https://youtu.be/7Kp8zoLv0Fw">
        <img class="video__img"
             src="https://mzyxhu.stripocdn.email/content/guids/videoImgGuid/images/image16842273086037134.png"
             alt="PICO headset INSTAL video INSTRUCTIONS"
             title="PICO headset INSTAL video INSTRUCTIONS"
             esdev-video-origin="https://mzyxhu.stripocdn.email/content/guids/CABINET_ffdd41b9f093a5654cca96a2f62ac6ee229beb35853a7b2273355a1da39a7d36/images/bannerrassylka.jpg"
             video-img-additional>
    </a>
    <ul class="list">
        <li style="color: #8b2062;">
            <p style="color: #8b2062; font-size: 18px;"><strong>Now you need to wait for a letter from "PICO".</strong>
            </p>
            <p style="color: #8b2062; font-size: 18px;"><strong>If your email address to which this email was received
                differs from the address associated with the "PICO" account,<br>please send a response to this email
                with your email address associated with "PICO", this is necessary so that we<br>can add you to the alpha
                channel the test game "Hag". There will be a referral link in the letter from "PICO", you<br>will need
                to click on it.</strong></p><a href="https://www.youtube.com/watch?v=7Kp8zoLv0Fw&t=36s"
                                               style="color: #8b2062;">TIME CODE</a>
        </li>
        <li style="color: #8b2062;">
            <p style="color: #8b2062; font-size: 18px;"><strong>On the PICO website, subscribe to the app, now when you
                put on and turn on your PICO, the "Karga" game will be displayed in the available apps.</strong></p><a
                href="https://www.youtube.com/watch?v=7Kp8zoLv0Fw&t=50s" style="color: #8b2062;">TIME CODE</a>
        </li>
    </ul>
    <hr>
    <h2 class="actionText"><strong>All actions described below must be performed in a virtual reality helmet
        "PICO".</strong></h2>
    <h3 class="actionAllStep"><strong>Steps to install the game: <a
            href="https://www.youtube.com/watch?v=7Kp8zoLv0Fw&t=63s" style="color: #8b2062;">TIME CODE</a></strong></h3>
    <ul class="list">
        <li style="color: #8b2062;">
            <p style="color: #8b2062;"><strong>Turn on and put on the "PICO" Virtual Reality helmet <a
                    href="https://www.youtube.com/watch?v=7Kp8zoLv0Fw&t=63s" style="color: #8b2062;">TIME
                CODE</a></strong></p>
        </li>
        <li style="color: #8b2062;">
            <p style="color: #8b2062;"><strong>Open the "My Library" section. <a
                    href="https://www.youtube.com/watch?v=7Kp8zoLv0Fw&t=63s" style="color: #8b2062;">TIME
                CODE</a></strong></p>
        </li>
        <li style="color: #8b2062;">
            <p style="color: #8b2062;"><strong>Select the "Not Installed" tab. <a
                    href="https://www.youtube.com/watch?v=7Kp8zoLv0Fw&t=67s" style="color: #8b2062;">TIME
                CODE</a></strong></p>
        </li>
        <li style="color: #8b2062;">
            <p style="color: #8b2062;"><strong>Click to install <a
                    href="https://www.youtube.com/watch?t=71&v=7Kp8zoLv0Fw&feature=youtu.be" style="color: #8b2062;">TIME
                CODE</a></strong></p>
        </li>
        <li style="color: #8b2062;">
            <p style="color: #8b2062;"><strong>After installation, "Karga" will appear on the "All Applications" tab. <a
                    href="https://www.youtube.com/watch?v=7Kp8zoLv0Fw&t=75s" style="color: #8b2062;">TIME
                CODE</a></strong></p>
        </li>
    </ul>
    <h2 style="color: #8b2062; font-size: 35px;">Follow us!</h2>
    <div class="social">
        <a target="_blank" href="https://www.facebook.com/Karga-VR-Fairytale-Shooter-118848851172574/"><img
                title="Facebook"
                src="https://mzyxhu.stripocdn.email/content/assets/img/social-icons/logo-colored/facebook-logo-colored.png"
                alt="Fb" width="64"></a>
        <a target="_blank" href="https://www.instagram.com/karga_vr/?igshid=ZDdkNTZiNTM%3D"><img title="Instagram"
                                                                                                 src="https://mzyxhu.stripocdn.email/content/assets/img/social-icons/logo-colored/instagram-logo-colored.png"
                                                                                                 alt="Inst" width="64"></a>
        <a target="_blank" href="https://www.youtube.com/@BeliVR-games"><img title="Youtube"
                                                                             src="https://mzyxhu.stripocdn.email/content/assets/img/social-icons/logo-colored/youtube-logo-colored.png"
                                                                             alt="Yt" width="64"></a>
        <a target="_blank" href="https://www.reddit.com/r/Karga/"><img title="Reddit"
                                                                       src="https://mzyxhu.stripocdn.email/content/assets/img/social-icons/logo-colored/reddit-logo-colored.png"
                                                                       alt="Reddit" width="64"></a>
        <a target="_blank" href="https://twitter.com/Karga_BeliVR"><img title="Twitter"
                                                                        src="https://mzyxhu.stripocdn.email/content/assets/img/social-icons/logo-colored/twitter-logo-colored.png"
                                                                        alt="Tw" width="64"></a>
        <a target="_blank" href="https://discord.gg/4eGKwyeb2X"><img title="Discord"
                                                                     src="https://mzyxhu.stripocdn.email/content/assets/img/messenger-icons/logo-colored/discort-logo-colored.png"
                                                                     alt="Discord" width="64"></a>
    </div>
</div>
</body>
</html>