<html lang="en">

<head>
  <style>

    * {
      font-family: 'Caesar Dressing', cursive;
    }

    li {
      list-style-type: none;
    }

    body {
      background: #8B2062;
      color: #F1A738;
      font-family: 'Caesar Dressing', cursive;
      padding: 5%;
    }

    a {
      cursor: pointer;
      color: #f8d7a5;
    }

    .headDiv {
      width: 100%;
      height: 120px;
      text-align: center;
    }

    .main {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 90vw;
      margin: 0 auto;
    }
  </style>
</head>
<body>

<div class="main">
  <h1>Hello {{ name }}, Believe welcomes you.</h1>
  <!--<h2 class="headDiv">Hi {{ name }},</h2>-->
  <h3>
    You have received this email because you have registered on the website
    <a href="https://karga.belivr.tech">Karga</a>
    and became a member of Alfa testing the game "Karga"
  </h3>
  <h1>Instructions for participating in Alfa testing</h1>
  <strong><a href="https://www.youtube.com/watch?v=7Kp8zoLv0Fw">PICO headset INSTAL video INSTRUCTIONS</a></strong>
  <ul>
    <li>
      <strong>1.</strong>Now you need to wait for a letter from "PICO".
      If your email address to which this email was received differs from the address associated with the "PICO" account,
      please send a response to this email with your email address associated with "PICO", this is necessary so that we
      can add you to the alpha channel the test game "Hag". There will be a referral link in the letter from "PICO", you
      will need to click on it. <a href="https://www.youtube.com/watch?v=7Kp8zoLv0Fw&t=36s">TIME CODE</a>
    </li>
    <br/>
    <li>
      <strong>2.</strong> On the PICO website, subscribe to the app, now when you put on and turn on your PICO, the "Karga" game will be displayed in the available apps.
      <a href="https://www.youtube.com/watch?v=7Kp8zoLv0Fw&t=50s">TIME CODE</a>
    </li>
  </ul>
  <h2>All actions described below must be performed in a virtual reality helmet "PICO".</h2>
  <h3>Steps to install the game: <a href="https://www.youtube.com/watch?v=7Kp8zoLv0Fw&t=63s">TIME CODE</a></h3>
  <ul>
    <li><strong>3.</strong> Turn on and put on the "PICO" Virtual Reality helmet <a href="https://www.youtube.com/watch?v=7Kp8zoLv0Fw&t=63s">TIME CODE</a></li>
    <li><strong>4.</strong> Open the "My Library" section. <a href="https://www.youtube.com/watch?v=7Kp8zoLv0Fw&t=63s">TIME CODE</a></li>
    <li><strong>5.</strong> Select the "Not Installed" tab. <a href="https://www.youtube.com/watch?v=7Kp8zoLv0Fw&t=67s">TIME CODE</a></li>
    <li><strong>6.</strong> Click to install <a href="https://www.youtube.com/watch?t=71&v=7Kp8zoLv0Fw&feature=youtu.be">TIME CODE</a></li>
    <li><strong>7.</strong> After installation, "Karga" will appear on the "All Applications" tab. <a href="https://www.youtube.com/watch?v=7Kp8zoLv0Fw&t=75s">TIME CODE</a></li>
  </ul>

  <iframe
    src="https://www.youtube.com/embed/7Kp8zoLv0Fw"
    title="YouTube video player"
    frameBorder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowFullScreen>
  </iframe>
  <!--<p>Welcome to example web application</p>-->
  <!--<p>Click on the link below to view our website</p>-->
  <img src="cid:banner" alt="icon">

  <!--developers banner-->
<!--  <img src="../images/banner.jpg" alt="icon">-->
</div>

<p>
</p>
</body>
</html>
